<div class="panel panel-primary">
    <div class="panel-heading">Boolean Formatter</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="inputPercentage">Select a boolean value</label>
            <br>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" :class="{ active: boolean === 0 }"
                        v-on:click="boolean = 0">0
                </button>
                <button type="button" class="btn btn-default" :class="{ active: boolean === 1 }"
                        v-on:click="boolean = 1">1
                </button>
                <button type="button" class="btn btn-default" :class="{ active: boolean === false }"
                        v-on:click="boolean = false">false
                </button>
                <button type="button" class="btn btn-default" :class="{ active: boolean === true }"
                        v-on:click="boolean = true">true
                </button>
            </div>
        </div>
        <p>Result: <mark>{{ boolean | booleanFormatter }}</mark> /
            <mark>{{ boolean | booleanFormatter '是' '否' }}</mark> /
            <mark>{{ boolean | booleanFormatter 'ON' 'OFF' }}</mark> /
            <mark>{{ boolean | booleanFormatter '在线' '离线' }}</mark>
        </p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Byte Formatter</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="inputSize">Input a size (unit: byte)</label>
            <input type="text" class="form-control" id="inputSize" placeholder="eg. 1000000" v-model="size">
        </div>
        <p>Result: <mark>{{ size | byteFormatter }}</mark></p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Percentage Formatter</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="inputPercentage">Input a decimal (between 0 and 1)</label>
            <input type="text" class="form-control" id="inputPercentage" placeholder="eg. 0.153" v-model="decimal">
        </div>
        <p>Result: <mark>{{ decimal | percentageFormatter }}</mark> /
            <mark>{{ decimal | percentageFormatter '0' }}</mark> /
            <mark>{{ decimal | percentageFormatter '3' }}</mark></p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Timestamp Formatter</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="inputTimestamp">Input a timestamp (in milliseconds)</label>
            <input type="text" class="form-control" id="inputTimestamp" placeholder="eg. 1456971747000"
                   v-model="timestamp">
        </div>
        <p>Result: <mark>{{ timestamp | timestampFormatter }}</mark> /
            <mark>{{ timestamp | timestampFormatter 'YYYY年MM月DD日 HH时mm分ss秒' }}</mark> /
            <mark>{{ timestamp | timestampFormatter 'dddd, MMMM Do, YYYY' }}</mark> /
            <mark>{{ timestamp | timestampFormatter 'h:mm A' }}</mark></p>
    </div>
</div>